= form_for @recall_event do |f|
  - if @recall_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recall_event.errors.count, "error")} prohibited this recall_event from being saved:"
      %ul
        - @recall_event.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
