.navbar-default.sidebar{ role: "navigation" }
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      -# %li.sidebar-search
      -#   .input-group.custom-search-form
      -#     %input.form-control{:placeholder => "Search...", :type => "text"}/
      -#     %span.input-group-btn
      -#       %button.btn.btn-default{:type => "button"}
      -#         %i.fa.fa-search
      %li
        = link_to root_url do
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        = link_to '#' do
          %i.fa.fa-map-marker.fa-fw
          Locations
          %span.fa.arrow
        %ul.nav.nav-second-level
          - Location::US.each do |k, v|
            %li= link_to k, root_url(location: v)
      %li
        = link_to '#' do
          %i.fa.fa-list-alt.fa-fw
          Report Dates
          %span.fa.arrow
        %ul.nav.nav-second-level
          - RecallEvent.distinct(:report_date).compact.sort.reverse.each do |report_date|
            - d = report_date.to_date
            %li= link_to l(d, format: :long), recall_event_report_date_path(d.year, d.month, d.day)
