.row
  .col-lg-12
    %h1.page-header About

.row
  .col-lg-12
    %h2 Eye Street Solutions
    %p Eye Street Solutions is a small business that has been providing software engineering services to the Federal government for nearly 20 years. We have consistently been at the leading edge of adoption for open source technologies (e.g. Tomcat, Apache, Struts, Hibernate, Ruby on Rails, MongoDB, Drupal, Nginx, Bootstrap), cloud platforms (e.g. Heroku, AWS GovCloud), and the Agile development process at agencies we support.
    %address
      %br
      = link_to 'http://www.eyestreet.com', 'http://www.eyestreet.com'
      %br
      203 Harrison Street SE, Suite G
      %br
      Leesburg, VA 20175
      %br
      %abbr{ title: 'Phone' } P:
      703-574-7900
      %br
      %abbr{ title: 'Phone' } P:
      888-252-2085

.row
  .col-lg-12
    %h2 Built Using

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Boot2Docker', 'https://github.com/boot2docker/boot2docker', target: '_blank'
      .panel-body
        Boot2Docker is a lightweight Linux distribution made specifically to run Docker containers.
      .panel-footer
        %em 1.7.0
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Bootstrap', 'http://getbootstrap.com/', target: '_blank'
      .panel-body
        Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
      .panel-footer
        %em 3.3.5
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Bower', 'http://bower.io/', target: '_blank'
      .panel-body
        A package manager for the web.
      .panel-footer
        %em 1.4.1

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'CoffeeScript', 'http://coffeescript.org/', target: '_blank'
      .panel-body
        CoffeeScript is a little language that compiles into JavaScript.
      .panel-footer
        %em 1.9.3
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Docker', 'https://www.docker.com/', target: '_blank'
      .panel-body
        An open platform for distributed applications for developers and sysadmins
      .panel-footer
        %em 1.7.0
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Docker Compose', 'https://github.com/docker/compose', target: '_blank'
      .panel-body
        Compose is a tool for defining and running multi-container applications with Docker.
      .panel-footer
        %em 1.3.1

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Git', 'https://git-scm.com/', target: '_blank'
      .panel-body
        Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.
      .panel-footer
        %em 2.4.5
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'git-flow', 'https://github.com/nvie/gitflow', target: '_blank'
      .panel-body
        A collection of Git extensions to provide high-level repository operations for Vincent Driessen's <a href="http://nvie.com/git-model">branching model</a>.
      .panel-footer
        %em 0.4.1
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'GitHub', 'http://github.com/', target: '_blank'
      .panel-body
        Powerful collaboration, code review, and code management for open source and private projects.
      .panel-footer
        %em Enterprise

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Haml', 'http://haml.info/', target: '_blank'
      .panel-body
        Beautiful, DRY, well-indented, clear markup: templating haiku.
      .panel-footer
        %em 4.0.6
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Heroku', 'http://www.heroku.com', target: '_blank'
      .panel-body
        Heroku is a cloud platform as a service (PaaS) supporting several programming languages.
      .panel-footer
        %em Cedar-14 Stack
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Jenkins CI', 'http://jenkins-ci.org/', target: '_blank'
      .panel-body
        Jenkins CI is the leading open-source continuous integration server. Built with Java, it provides 985 plugins to support building and testing virtually any project.
      .panel-footer
        %em 1.618

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'jQuery', 'http://jquery.com/', target: '_blank'
      .panel-body
        jQuery is a cross-platform JavaScript library designed to simplify the client-side scripting of HTML.
      .panel-footer
        %em 2.1.4
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Leaflet', 'http://leafletjs.com/', target: '_blank'
      .panel-body
        Leaflet is the leading open-source JavaScript library for mobile-friendly interactive maps.
      .panel-footer
        %em 0.7.3
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'MongoDB', 'http://www.mongodb.org/', target: '_blank'
      .panel-body
        MongoDB (from "humongous") is an open-source document database, and the leading NoSQL database.
      .panel-footer
        %em 3.0.4

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Mongoid', 'http://mongoid.org/', target: '_blank'
      .panel-body
        Mongoid (pronounced mann-goyd) is an Object-Document-Mapper (ODM) for MongoDB written in Ruby.
      .panel-footer
        %em 4.0.2
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'morris.js', 'http://morrisjs.github.io/morris.js/', target: '_blank'
      .panel-body
        good-looking charts shouldn't be difficult
      .panel-footer
        %em 0.5.1
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Node.js', 'http://nodejs.org/', target: '_blank'
      .panel-body
        Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
      .panel-footer
        %em 0.12.5

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Pivotal Tracker', '', target: '_blank'
      .panel-body
        The awesome, lightweight, agile project management tool for software teams.
      .panel-footer
        %em Enterprise
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Pow', 'http://pow.cx/', target: '_blank'
      .panel-body
        Pow is a zero-config Rack server for Mac OS X.
      .panel-footer
        %em 0.5.0
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Puma', 'http://puma.io/', target: '_blank'
      .panel-body
        A modern, concurrent web server for Ruby
      .panel-footer
        %em 2.11.3

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'rbenv', 'http://github.com/sstephenson/rbenv', target: '_blank'
      .panel-body
        Groom your app’s Ruby environment with rbenv.
      .panel-footer
        %em 0.4.0
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Ruby', 'http://www.ruby-lang.org', target: '_blank'
      .panel-body
        A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
      .panel-footer
        %em 2.2.2
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank'
      .panel-body
        Web development that doesn't hurt Ruby on Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity.
      .panel-footer
        %em 4.2.3

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Sass', 'http://sass-lang.com/', target: '_blank'
      .panel-body
        Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
      .panel-footer
        %em 3.4.15
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Semantic Versioning', 'http://semver.org/', target: '_blank'
      .panel-body
        Semantic Versioning is a formal convention for specifying compatibility using a three-part version number: major version; minor version; and patch.
      .panel-footer
        %em 2.0.0
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'Slack', 'http://slack.com/', target: '_blank'
      .panel-body
        Slack brings all your communication together in one place. It's real-time messaging, archiving and search for modern teams.
      .panel-footer
        %em 1.0.5

.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h4= link_to 'VirtualBox', 'https://www.virtualbox.org/', target: '_blank'
      .panel-body
        VirtualBox is a powerful x86 and AMD64/Intel64 virtualization product for enterprise as well as home use.
      .panel-footer
        %em 4.3.28
